<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bdyy.jewelry.dao.FinishedProductBroadHeadingMapper">
  <resultMap id="BaseResultMap" type="org.bdyy.jewelry.pojo.FinishedProductBroadHeading">
    <id column="finished_product_broad_heading_id" jdbcType="INTEGER" property="finishedProductBroadHeadingId" />
    <result column="finished_product_broad_heading_name" jdbcType="VARCHAR" property="finishedProductBroadHeadingName" />
    <result column="finished_product_broad_token" jdbcType="VARCHAR" property="finishedProductBroadToken" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    finished_product_broad_heading_id, finished_product_broad_heading_name, finished_product_broad_token
  </sql>
  <select id="selectByExample" parameterType="org.bdyy.jewelry.pojo.FinishedProductBroadHeadingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from finished_product_broad_heading
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finished_product_broad_heading
    where finished_product_broad_heading_id = #{finishedProductBroadHeadingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from finished_product_broad_heading
    where finished_product_broad_heading_id = #{finishedProductBroadHeadingId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.bdyy.jewelry.pojo.FinishedProductBroadHeadingExample">
    delete from finished_product_broad_heading
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.bdyy.jewelry.pojo.FinishedProductBroadHeading">
    insert into finished_product_broad_heading (finished_product_broad_heading_id, finished_product_broad_heading_name, 
      finished_product_broad_token)
    values (#{finishedProductBroadHeadingId,jdbcType=INTEGER}, #{finishedProductBroadHeadingName,jdbcType=VARCHAR}, 
      #{finishedProductBroadToken,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.bdyy.jewelry.pojo.FinishedProductBroadHeading">
    insert into finished_product_broad_heading
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="finishedProductBroadHeadingId != null">
        finished_product_broad_heading_id,
      </if>
      <if test="finishedProductBroadHeadingName != null">
        finished_product_broad_heading_name,
      </if>
      <if test="finishedProductBroadToken != null">
        finished_product_broad_token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="finishedProductBroadHeadingId != null">
        #{finishedProductBroadHeadingId,jdbcType=INTEGER},
      </if>
      <if test="finishedProductBroadHeadingName != null">
        #{finishedProductBroadHeadingName,jdbcType=VARCHAR},
      </if>
      <if test="finishedProductBroadToken != null">
        #{finishedProductBroadToken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.bdyy.jewelry.pojo.FinishedProductBroadHeadingExample" resultType="java.lang.Long">
    select count(*) from finished_product_broad_heading
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update finished_product_broad_heading
    <set>
      <if test="record.finishedProductBroadHeadingId != null">
        finished_product_broad_heading_id = #{record.finishedProductBroadHeadingId,jdbcType=INTEGER},
      </if>
      <if test="record.finishedProductBroadHeadingName != null">
        finished_product_broad_heading_name = #{record.finishedProductBroadHeadingName,jdbcType=VARCHAR},
      </if>
      <if test="record.finishedProductBroadToken != null">
        finished_product_broad_token = #{record.finishedProductBroadToken,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update finished_product_broad_heading
    set finished_product_broad_heading_id = #{record.finishedProductBroadHeadingId,jdbcType=INTEGER},
      finished_product_broad_heading_name = #{record.finishedProductBroadHeadingName,jdbcType=VARCHAR},
      finished_product_broad_token = #{record.finishedProductBroadToken,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.bdyy.jewelry.pojo.FinishedProductBroadHeading">
    update finished_product_broad_heading
    <set>
      <if test="finishedProductBroadHeadingName != null">
        finished_product_broad_heading_name = #{finishedProductBroadHeadingName,jdbcType=VARCHAR},
      </if>
      <if test="finishedProductBroadToken != null">
        finished_product_broad_token = #{finishedProductBroadToken,jdbcType=VARCHAR},
      </if>
    </set>
    where finished_product_broad_heading_id = #{finishedProductBroadHeadingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.bdyy.jewelry.pojo.FinishedProductBroadHeading">
    update finished_product_broad_heading
    set finished_product_broad_heading_name = #{finishedProductBroadHeadingName,jdbcType=VARCHAR},
      finished_product_broad_token = #{finishedProductBroadToken,jdbcType=VARCHAR}
    where finished_product_broad_heading_id = #{finishedProductBroadHeadingId,jdbcType=INTEGER}
  </update>
</mapper>