<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bdyy.jewelry.dao.FinishedProductTypeMapper">
  <resultMap id="BaseResultMap" type="org.bdyy.jewelry.pojo.FinishedProductType">
    <id column="finished_product_type_id" jdbcType="INTEGER" property="finishedProductTypeId" />
    <result column="finished_product_type_name" jdbcType="VARCHAR" property="finishedProductTypeName" />
    <result column="finished_product_type_token" jdbcType="VARCHAR" property="finishedProductTypeToken" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    finished_product_type_id, finished_product_type_name, finished_product_type_token
  </sql>
  <select id="selectByExample" parameterType="org.bdyy.jewelry.pojo.FinishedProductTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from finished_product_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finished_product_type
    where finished_product_type_id = #{finishedProductTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from finished_product_type
    where finished_product_type_id = #{finishedProductTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.bdyy.jewelry.pojo.FinishedProductTypeExample">
    delete from finished_product_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.bdyy.jewelry.pojo.FinishedProductType">
    insert into finished_product_type (finished_product_type_id, finished_product_type_name, 
      finished_product_type_token)
    values (#{finishedProductTypeId,jdbcType=INTEGER}, #{finishedProductTypeName,jdbcType=VARCHAR}, 
      #{finishedProductTypeToken,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.bdyy.jewelry.pojo.FinishedProductType">
    insert into finished_product_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="finishedProductTypeId != null">
        finished_product_type_id,
      </if>
      <if test="finishedProductTypeName != null">
        finished_product_type_name,
      </if>
      <if test="finishedProductTypeToken != null">
        finished_product_type_token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="finishedProductTypeId != null">
        #{finishedProductTypeId,jdbcType=INTEGER},
      </if>
      <if test="finishedProductTypeName != null">
        #{finishedProductTypeName,jdbcType=VARCHAR},
      </if>
      <if test="finishedProductTypeToken != null">
        #{finishedProductTypeToken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.bdyy.jewelry.pojo.FinishedProductTypeExample" resultType="java.lang.Long">
    select count(*) from finished_product_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update finished_product_type
    <set>
      <if test="record.finishedProductTypeId != null">
        finished_product_type_id = #{record.finishedProductTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.finishedProductTypeName != null">
        finished_product_type_name = #{record.finishedProductTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.finishedProductTypeToken != null">
        finished_product_type_token = #{record.finishedProductTypeToken,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update finished_product_type
    set finished_product_type_id = #{record.finishedProductTypeId,jdbcType=INTEGER},
      finished_product_type_name = #{record.finishedProductTypeName,jdbcType=VARCHAR},
      finished_product_type_token = #{record.finishedProductTypeToken,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.bdyy.jewelry.pojo.FinishedProductType">
    update finished_product_type
    <set>
      <if test="finishedProductTypeName != null">
        finished_product_type_name = #{finishedProductTypeName,jdbcType=VARCHAR},
      </if>
      <if test="finishedProductTypeToken != null">
        finished_product_type_token = #{finishedProductTypeToken,jdbcType=VARCHAR},
      </if>
    </set>
    where finished_product_type_id = #{finishedProductTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.bdyy.jewelry.pojo.FinishedProductType">
    update finished_product_type
    set finished_product_type_name = #{finishedProductTypeName,jdbcType=VARCHAR},
      finished_product_type_token = #{finishedProductTypeToken,jdbcType=VARCHAR}
    where finished_product_type_id = #{finishedProductTypeId,jdbcType=INTEGER}
  </update>
</mapper>