<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bdyy.jewelry.dao.FinishedProductDiscernMapper">
  <resultMap id="BaseResultMap" type="org.bdyy.jewelry.pojo.FinishedProductDiscern">
    <id column="finished_product_discern_id" jdbcType="INTEGER" property="finishedProductDiscernId" />
    <result column="finished_product_discern_name" jdbcType="VARCHAR" property="finishedProductDiscernName" />
    <result column="finished_product_discern_token" jdbcType="VARCHAR" property="finishedProductDiscernToken" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    finished_product_discern_id, finished_product_discern_name, finished_product_discern_token
  </sql>
  <select id="selectByExample" parameterType="org.bdyy.jewelry.pojo.FinishedProductDiscernExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from finished_product_discern
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from finished_product_discern
    where finished_product_discern_id = #{finishedProductDiscernId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from finished_product_discern
    where finished_product_discern_id = #{finishedProductDiscernId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.bdyy.jewelry.pojo.FinishedProductDiscernExample">
    delete from finished_product_discern
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.bdyy.jewelry.pojo.FinishedProductDiscern">
    insert into finished_product_discern (finished_product_discern_id, finished_product_discern_name, 
      finished_product_discern_token)
    values (#{finishedProductDiscernId,jdbcType=INTEGER}, #{finishedProductDiscernName,jdbcType=VARCHAR}, 
      #{finishedProductDiscernToken,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.bdyy.jewelry.pojo.FinishedProductDiscern">
    insert into finished_product_discern
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="finishedProductDiscernId != null">
        finished_product_discern_id,
      </if>
      <if test="finishedProductDiscernName != null">
        finished_product_discern_name,
      </if>
      <if test="finishedProductDiscernToken != null">
        finished_product_discern_token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="finishedProductDiscernId != null">
        #{finishedProductDiscernId,jdbcType=INTEGER},
      </if>
      <if test="finishedProductDiscernName != null">
        #{finishedProductDiscernName,jdbcType=VARCHAR},
      </if>
      <if test="finishedProductDiscernToken != null">
        #{finishedProductDiscernToken,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.bdyy.jewelry.pojo.FinishedProductDiscernExample" resultType="java.lang.Long">
    select count(*) from finished_product_discern
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update finished_product_discern
    <set>
      <if test="record.finishedProductDiscernId != null">
        finished_product_discern_id = #{record.finishedProductDiscernId,jdbcType=INTEGER},
      </if>
      <if test="record.finishedProductDiscernName != null">
        finished_product_discern_name = #{record.finishedProductDiscernName,jdbcType=VARCHAR},
      </if>
      <if test="record.finishedProductDiscernToken != null">
        finished_product_discern_token = #{record.finishedProductDiscernToken,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update finished_product_discern
    set finished_product_discern_id = #{record.finishedProductDiscernId,jdbcType=INTEGER},
      finished_product_discern_name = #{record.finishedProductDiscernName,jdbcType=VARCHAR},
      finished_product_discern_token = #{record.finishedProductDiscernToken,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.bdyy.jewelry.pojo.FinishedProductDiscern">
    update finished_product_discern
    <set>
      <if test="finishedProductDiscernName != null">
        finished_product_discern_name = #{finishedProductDiscernName,jdbcType=VARCHAR},
      </if>
      <if test="finishedProductDiscernToken != null">
        finished_product_discern_token = #{finishedProductDiscernToken,jdbcType=VARCHAR},
      </if>
    </set>
    where finished_product_discern_id = #{finishedProductDiscernId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.bdyy.jewelry.pojo.FinishedProductDiscern">
    update finished_product_discern
    set finished_product_discern_name = #{finishedProductDiscernName,jdbcType=VARCHAR},
      finished_product_discern_token = #{finishedProductDiscernToken,jdbcType=VARCHAR}
    where finished_product_discern_id = #{finishedProductDiscernId,jdbcType=INTEGER}
  </update>
</mapper>